.container{
    text-align: center;
    background-image: url(Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: cursive;
    font-style: italic;
}
#button {
    padding: 0;
    }
#button li {
    display: inline-block;
   }
   #button li a {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 10px;
    font-weight: 900;
    text-decoration: none;
    float: left;
    padding: 20px 85px;
    background-color: #2175bc;
    color: black;
    }
    #button li a:hover{
        background-color: floralwhite;
    }   